body{
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,2,51,1) 0%, rgba(3,149,214,1) 43%, rgba(2,181,235,1) 52%, rgba(6,68,160,1) 78%, rgba(9,9,121,1) 93%);
}
.h1{
    font-size: 80px;
}


.Container{
    display: flex;
    justify-content: center;
    height: 70vh;

}
.Box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    gap: 0.8vmin;
    
}
.butt{
    width: 18vmin;
    height: 18vmin;
    border-radius: 25px;
    background-color: #F1FFFA;
    font-size: 12vmin;
    border: 2px solid #D6FFF1;

}
.Reset{
    background-color: #454545;
    color: white;
    border: none;
    height: 50px;
    width: 120px;
    font-size: 30px;
    border-radius: 30px;
}
.new{
    background-color: #454545;
    color: white;
    border: none;
    height: 50px;
    width: 120px;
    font-size: 20px;
    border-radius: 30px;
}
.hide{
    visibility: hidden;
}
